<aside>
    <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="mainNavigation" aria-labelledby="mainNavigationLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="mainNavigationLabel">The Five Rings</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#mainNavigation"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            //TODO: Main Nav
            @* <ul class="list-unstyled">
                <li>
                    <a href="/book-of-air">The Book of Air</a>
                    <ul>
                        <li><a href="/history">History</a></li>
                        <li><a href="/religion">Religion</a></li>
                        <li><a href="/religion">Bushido</a></li>
                        <li><a href="/people">People</a></li>
                    </ul>
                </li>
            </ul> *@
        </div>
    </div>
</aside>
