<aside>
  <div class="offcanvas-lg offcanvas-end mt-lg-3" tabindex="-1" id="tableOfContents"
    aria-labelledby="tableOfContentsLabel">
    <div class="offcanvas-header">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#tableOfContents"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="v-stack">
        <?# TableOfContents /?>
      </div>
    </div>
  </div>
</aside>