@using System.Text.Json;
 @{
    var hasToc = false;
    if (Document.ContainsKey("TableOfContents"))
    {
        var tocRaw = Document.Get<object>("TableOfContents");
        hasToc = tocRaw != null;
    }  
} 
<nav class="navbar navbar-expand-lg bg-light sticky-top">
    <div class="container-fluid">
        <button style="width: 60px; border: none;" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mainNavigation" aria-controls="mainNavigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/img/l5c_logo_transparent.png" class="" style="height: 50px;" alt="..."></a>
        @{
            if (hasToc)
            {
                <button style="width: 60px; border: none;" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#tableOfContents" aria-controls="tableOfContents">
                    <span>. . .</span>
                </button>
            } else
            {
                <div class="d-block" style="width: 60px;"></div>
            }
        }
        
    </div>
</nav>