@using System.Text.Json;
@* @{
    var data = Outputs
            .FromPipeline("Data")
            .FilterSources("data/*")
            .FirstOrDefault(s => s.Source.ToString().EndsWith("topMenu.json"));

    var topMenuItemsRaw = data.Get<object[]>("MenuItems");

    var topMenu = new List<TopMenuItem>();

    foreach (var item in topMenuItemsRaw)
    {
        string serialized = JsonSerializer.Serialize(item);
        var topMenuItem = JsonSerializer.Deserialize<TopMenuItem>(serialized);
        topMenu.Add(topMenuItem);
    }    
} *@
<nav class="navbar navbar-expand-lg bg-light sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mainNavigation" aria-controls="mainNavigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/img/l5c_logo_transparent.png" class="" style="height: 50px;" alt="..."></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#tableOfContents" aria-controls="tableOfContents">
            <span>. . .</span>
        </button>
    </div>
</nav>