Title: Book Of Water
NoHeader: true
---
@using System.Text.Json;
@{
	var data = Outputs
			.FromPipeline("Data")
			.FilterSources("data/*")
			.FirstOrDefault(s => s.Source.ToString().EndsWith("mainNav.json"));

	var topMenuItemsRaw = data.Get<object[]>("MenuItems");

	var menu = new TopMenuItem
	{
		Children = new MenuItem[] { }
	};

	foreach (var item in topMenuItemsRaw)
	{
		string serialized = JsonSerializer.Serialize(item);
		var topMenuItem = JsonSerializer.Deserialize<TopMenuItem>(serialized);
		if (topMenuItem.Path == "/book-of-water")
		{
			menu = topMenuItem;
			break;
		}
	}
}
<div class="ring-sprite-with-label sprite--water mx-auto d-block my-3"></div>

<p>
	The <em>Book of Water</em> contains advanced and optional rules,
    rules which the GM and players can decide to use or ignore as
    they please. These rules add more variety and customization
    options to the game. They include information on playing a
    character from one of the Minor Clans or Imperial Families,
    and a variety of special mechanics such as Alternate Paths,
    Advanced Schools, Kata, Kiho, Ancestors, and the sinister secrets 
    of black magic (also known as maho) and the Shadowlands Taint.
</p>
@{
	var hasChildren = (menu.Children?.Count() ?? 0) > 0;
	if (hasChildren)
	{
		<ul class="list-unstyled">
			@{
				foreach (var childItem in menu.Children)
				{
					<li class="mb-4">
						<a class="h4" href="@childItem.Path">@childItem.Title</a>
					</li>
				}
			}
		</ul>
	}

}