
.ring-sprite-with-label {
    background-image: url(../img/5rings-color.png);
    background-size: 573.77% 100%;
    background-repeat: no-repeat;
    width: 122px;
    height: 175px;
    max-width: 100%;
}

.ring-sprite-no-label {
    background-image: url(../img/5rings-color.png);
    background-size: 573.77% 143.44%;
    background-repeat: no-repeat;
    width: 122px;
    height: 122px;
    max-width: 100%;
}

.sprite--air {
    background-position: 0 0;
}

.sprite--earth {
    background-position: 25% 0;
}

.sprite--fire {
    background-position: 50% 0;
}

.sprite--water {
    background-position: 75% 0;
}

.sprite--void {
    background-position: 100% 0;
}

@media (min-width: 992px)
{
    .l5r-toc {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        right: 0;
        z-index: 2;
        height: calc(100vh - 7rem);
        overflow-y: auto;
    }

    .l5r-main-nav {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        left: 0;
        z-index: 2;
        height: calc(100vh - 7rem);
        overflow-y: auto;
    }
}



#content h1::before, #content h2::before,#content h3::before,#content h4::before,#content h5::before,#content h6::before { 
    display: block; 
    content: " "; 
    margin-top: -6rem; 
    height: 6rem; 
    visibility: hidden; 
    pointer-events: none;
}

.btn.btn-toc {
    text-align: left;
    border: none;
}

.input-group.books > .input-group-text {
    background-color: inherit;
    border: none;
}

.brushtip {
    font-family: BrushtipTexe;
}

#content :is(h2, h3, h4, h5, h6)
{
    margin-bottom: 1.5rem;
}
#content h1
{
    font-family: BrushtipTexe;
    padding-top: 1.25rem;
    padding-bottom: 0.5rem;
}

figure blockquote
{
    font-family: BrushtipTexe;
    font-size: 1.5rem !important;
}